.modal-header {
    border: none;
}

#start-live-chat {
    margin-right: 20px;
}

#request-for-call {
    white-space:nowrap;
}

@media (max-width: 991px) {
    .modal-title {
        font-weight: bold;
        margin-bottom: 15px;
    }
    .modal-container {
        margin: 0 5% 7% 5%;

    }
    .img-container {
        display: none;
    }
    .content {
        margin-bottom: 5%;
    }
}

@media (min-width: 991px) {
    .modal-title {
        font-weight: bold;
        margin-top: 7%;
        margin-bottom: 15px;
    }    
    
    .modal-img {
        max-width: 80%;
        max-height: 80%;
        margin-bottom: 56px;
        margin-left: 56px;
    }
    .content {
        margin-bottom: 10%;
    }
}