<div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="row modal-container">
    <div class="col img-container">
        <img src="../../assets/img/women.png" class="modal-img" alt="Image produit">
    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                <h4 class="modal-title">Need Help?</h4>
            </div>
        </div>
        <div class="row">
            <div class="col content">
                Start a live call with us now to have us attend to any of your enquiries.
            </div>
        </div>
        <div class="row">
            <div class="col modal-buttons">
                <button type="button" id="start-live-chat" class="btn btn-dark" (click)="activeModal.close('Start Live Chat')">
                    Start Live Chat
                </button>
                <a class="link" id="request-for-call" (click)="activeModal.close('Request for call back')">
                    Request for call back
                </a>
            </div>
        </div>
    </div>
</div>


 