// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Optional
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/buttons";

@import 'variables';
@import 'mixins';

@media (max-width: 575px) {
    .mobile-hide { 
        display: none;
    }
}

.container {
    margin-top: 100px;
}

.navbar {
    background-color: var(--primary);
    min-height: 100px;
    .navbar-brand {
        font-weight: 900;
        font-size: 220%;
    }
    @media (max-width: 575px) {
        .icon { 
            margin-right: 10px;
            margin-left: 10px;
        }
    }
    @media (min-width: 575px) {
        .icon { 
            margin-right: 40px;
            margin-left: 40px;
        }
    }
    .account {
        font-weight: bold;
        color: black;
    }
}

.link {
    font-weight: bold;
    border-bottom: 2px solid black;
    padding: 4px;
}

.grey-text {
    color: rgb(136, 136, 136);
    font-weight: bold;
}

.btn {
    border-radius: none !important;
}

.spinner-border {
    display:block !important;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10%;
}

@import "../node_modules/bootstrap";
