<div class="product">
    <div [class]="'product-visuel color-' + product.id % 5">
        <img [src]="'../../../assets/img/products/product_' + product.id + '.png'" class="product-img" alt="Image produit">
    </div>
    <div class="product-footer">
        <span class="product-name">{{ product.name }}</span> <span class="product-author">{{ product.author }}</span> 
        <div class="product-price">{{ product.price }}$</div>
    </div>
</div>