.product {
    margin-top: 50px;
    
    .product-visuel {
        margin-bottom: 50px;
        height: 250px;
        width: 100%;
        position: relative;
        
        .product-img {
            max-height: 70%;
            max-width: 70%;
            width: auto;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    
    .product-footer {
        font-size: 0.8em;
    
        .product-name {
            font-weight: bold;
            margin-right: 8%;
        }
        .product-author {
            color: rgb(133, 133, 133);
            font-weight: bold;
        }
        .product-price {
            color: rgb(134, 134, 134);
            font-weight: bold;
        }
    }
}

.color-0 {
    background-color: #C0DAE9;
}

.color-1 {
    background-color: #F0F0F0;
}

.color-2 {
    background-color: #1E191D;
}

.color-3 {
    background-color: #EFEBEC;
}

.color-4 {
    background-color: #1E191D;
}