.navigation-header {
    width: 100%;
    display: inline-block;

    .navigation-title {
        font-size: 1.5em;
        font-weight: bold;
        margin-right: 20px;
    }

    .navigation-sort {
        font-weight: bold;
        float: right;
    }
}

.title-header {
    margin-top: 70px;
    width: 100%;
    display: inline-block;

    .navigation-title {
        font-size: 1.5em;
        font-weight: bold;
        margin-right: 20px;
    }

    .navigation-sort {
        font-weight: bold;
        float: right;
    }

}

.navigation-footer {
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;

    .previous {
        text-align: left;
    }
    .pages {
        text-align: center;
    }
    .next {
        text-align: right;
    }
}