<nav class="navbar fixed-top navbar-light">
  <a [routerLink]="['/home']">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="20" height="20" viewBox="0 0 8 8">
      <path d="M0 0v1h8v-1h-8zm0 2.97v1h8v-1h-8zm0 3v1h8v-1h-8z" transform="translate(0 1)" />
    </svg>
  </a>
  <a [routerLink]="['/home']">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="20" height="20" viewBox="0 0 8 8">
      <path d="M3.5 0c-1.93 0-3.5 1.57-3.5 3.5s1.57 3.5 3.5 3.5c.59 0 1.17-.14 1.66-.41a1 1 0 0 0 .13.13l1 1a1.02 1.02 0 1 0 1.44-1.44l-1-1a1 1 0 0 0-.16-.13c.27-.49.44-1.06.44-1.66 0-1.93-1.57-3.5-3.5-3.5zm0 1c1.39 0 2.5 1.11 2.5 2.5 0 .66-.24 1.27-.66 1.72-.01.01-.02.02-.03.03a1 1 0 0 0-.13.13c-.44.4-1.04.63-1.69.63-1.39 0-2.5-1.11-2.5-2.5s1.11-2.5 2.5-2.5z"
      />
    </svg>
  </a>
</nav>

<div class="container">

  <div class="row navigation-header">
    <div class="col-12">
      <span class="navigation-title">Home - H2</span>
      <span class="navigation-sort">Sort by : Price | Rating | Brand</span>
    </div>
  </div>

  <div class="row title-header">
    <div class="col-12">
      <span class="navigation-title">Home Decor</span>
      <span class="grey-text">Kitchen</span>
      <span class="grey-text">Decor</span>
      <span class="navigation-sort">
        <button type="button" id="btn-shop" class="btn btn-outline-dark">Filter by</button>
      </span>
    </div>
  </div>

  <div class="row justify-content-start" *ngIf="products$ | async as products; else loadingTemplate">
    <div class="col-sm-4 col-md-3 col-6" *ngFor="let product of products;  let i = index">
      <app-product [product]="product"></app-product>
    </div>
  </div>
  
  <div class="row navigation-footer">
    <div class="col previous">
      Previous
    </div>
    <div class="col pages">
      3 / 8
    </div>
    <div class="col next">
      Next
    </div>
  </div>
</div>

<ng-template #loadingTemplate class="largee">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>
