.card {
    margin-top: 20%;
    border: none;

    .card-title {
        font-weight: bold;
    }

    .card-link {
        text-align: right;
        width: 100%;
    }

    .img-product {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 30%;
        max-height: 30%;
        margin-bottom: 15px;
    }
}

.banner {
    margin-top: 50px;
    .banner-menu {
        margin-top: 8%;
        .menu-item {
            margin-top: 20px;
        }
    }
    .img-banner {
        max-height: 100%;
        max-width: 100%;
    }
    .banner-title {
        position: relative; 
        top: 30%;
    }
}

.product {
    margin-top: 50px;
    .product-visuel {
        margin-bottom: 50px;
        height: 250px;
        width: 100%;
        position: relative;
        
        .product-img {
            max-height: 70%;
            max-width: 70%;
            width: auto;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    .product-footer {
        font-size: 0.8em;

        .product-name {
            font-weight: bold;
            margin-right: 8%;
        }
        .product-author {
            color: rgb(133, 133, 133);
            font-weight: bold;
        }
        .product-price {
            color: rgb(134, 134, 134);
            font-weight: bold;
        }
    }
}

.section-head {
    width: 100%;
    display: inline-block;

    .section-title {
        font-size: 1.5em;
        font-weight: bold;
        margin-right: 20px;
    }

    .section-navigation {
        font-weight: bold;
        float: right;
    }
}

.newsletter {
    margin-top: 15%;
    margin-bottom: 15%;
}

.footer {
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    color: rgb(136, 136, 136);

    .footer-link {
        font-size: 0.8em;
        text-align: center;
    }
}

.section {
    margin-bottom: 10%;
}

.color-outdoor {
    background-color: #F0F0F0;
}

.color-indoor {
    background-color: #C0DAE9;
}