<nav class="navbar fixed-top navbar-light">
  <div>
    <a [routerLink]="['/product-list']">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="20" height="20" viewBox="0 0 8 8">
        <path d="M0 0v1h8v-1h-8zm0 2.97v1h8v-1h-8zm0 3v1h8v-1h-8z" transform="translate(0 1)" />
      </svg>
    </a>
    <a [routerLink]="['/product-list']">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon mobile-hide icon" width="20" height="20" viewBox="0 0 8 8">
        <path d="M3.5 0c-1.93 0-3.5 1.57-3.5 3.5s1.57 3.5 3.5 3.5c.59 0 1.17-.14 1.66-.41a1 1 0 0 0 .13.13l1 1a1.02 1.02 0 1 0 1.44-1.44l-1-1a1 1 0 0 0-.16-.13c.27-.49.44-1.06.44-1.66 0-1.93-1.57-3.5-3.5-3.5zm0 1c1.39 0 2.5 1.11 2.5 2.5 0 .66-.24 1.27-.66 1.72-.01.01-.02.02-.03.03a1 1 0 0 0-.13.13c-.44.4-1.04.63-1.69.63-1.39 0-2.5-1.11-2.5-2.5s1.11-2.5 2.5-2.5z"
        />
      </svg>
    </a>
  </div>
  <a class="navbar-brand" [routerLink]="['/product-list']">
    minim
  </a>
  <div>
      <a [routerLink]="['/product-list']" class="account mobile-hide">
        ACCOUNT
      </a>
      <a [routerLink]="['/product-list']">
        <svg xmlns="http://www.w3.org/2000/svg" class="mobile-hide icon" width="20" height="20" viewBox="0 0 8 8">
          <path d="M3.97 0c-.13.01-.26.08-.34.19l-2.34 2.81h-1.28v1h1v3.66c0 .18.16.34.34.34h5.31c.18 0 .34-.16.34-.34v-3.66h1v-1h-1.28c-.27-.33-2.39-2.86-2.41-2.88-.11-.09-.22-.14-.34-.13zm.03 1.28l1.44 1.72h-2.88l1.44-1.72zm-1.5 3.72c.28 0 .5.22.5.5v1c0 .28-.22.5-.5.5s-.5-.22-.5-.5v-1c0-.28.22-.5.5-.5zm3 0c.28 0 .5.22.5.5v1c0 .28-.22.5-.5.5s-.5-.22-.5-.5v-1c0-.28.22-.5.5-.5z"
          />
        </svg>
      </a>
  </div>
</nav>

<div class="container">
  <!-- Banner -->
  <div class="row banner">

    <div class="col-md-3 col-12 banner-menu">
      <h1>Shop</h1>
      <svg height="40" width="10">
        <line x1="0" y1="0" x2="0" y2="40" style="stroke:rgb(0, 0, 0);stroke-width:3" />
      </svg>
      <div class="grey-text menu-item">
        Home Furnishings
      </div>
      <div class="grey-text menu-item">
        Accessories
      </div>
      <div class="grey-text menu-item">
          Sports
      </div>
      <div class="grey-text menu-item">
        Clothing wear
      </div>
    </div>

    <div class="col-md-6 col-12">
      <img src="../../../assets/img/chair.png" class="img-banner" alt="Image produit">
    </div>

    <div class="col-md-3 col-12">
      <div class="banner-title">
        <h5>Limited edition</h5>
        <h2>White Clock</h2>
        <button type="button" id="btn-shop" class="btn btn-outline-dark" (click)="openHelpPopUp()">Open pop up</button>
      </div>
    </div>
  </div>

  <!-- cards -->
  <div class="row section">
    <div class="col-md-6 col-sm-12">
      <div class="card color-outdoor">
        <div class="card-body">
          <h5 class="card-title">Outdoors</h5>
          <div class="grey-text">SHOP</div>
          <img src="../../../assets/img/products/product_2.png" class="img-product" alt="Image produit">
          <div class="card-link">
            <a class="link">Shop Outdoors</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="card color-indoor">
        <div class="card-body">
          <h5 class="card-title">Indoors</h5>
          <div class="grey-text">SHOP</div>
          <img src="../../../assets/img/products/product_1.png" class="img-product" alt="Image produit">
          <div class="card-link">
            <a class="link">Shop Indoors</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Popular -->
  <div class="row section-head">
    <div class="col-12">
      <span class="section-title">Popular</span>
      <span class="grey-text">SHOP</span>
      <span class="section-navigation">Previous | Next</span>
    </div>
  </div>

  <div class="row section justify-content-start" *ngIf="products$ | async as products; else loadingTemplate">
    <div class="col-sm-4 col-md-3 col-6" *ngFor="let product of products;  let i = index">
      <app-product [product]="product"></app-product>
    </div>
  </div>

  <!-- Newsletter -->
  <div class="row newsletter justify-content-center">
    <div class="col-md-4">
      <h1>Newsletter</h1>
      <p>
        Register now with our newsletter and get the lastest updates available 
      </p>
    </div>
    <div class="col-md-6">
      <form>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Name">
          </div>
          <div class="col">
          </div>
        </div>
        <div class="row" style="margin-top: 10px"> 
          <div class="col">
            <input type="text" class="form-control" placeholder="Email">
          </div>
          <div class="col">
              <button type="button" id="btn-shop" class="btn btn-outline-dark">Submit</button>
            </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Footer -->
  <div class="row footer justify-content-center">
    <div class="col-md-2 footer-link">
      FIRST
    </div>
    <div class="col-md-2 footer-link">
      SECOND
    </div>
    <div class="col-md-2 footer-link">
      THIRD
    </div>
    <div class="col-md-2 footer-link">
      FOURTH
    </div>
    <div class="col-md-2 footer-link">
      FITH
    </div>
  </div>
</div>

<ng-template #loadingTemplate>
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>